<div class="stonetop-debility">
  <div class="stonetop-grouping-image"></div>
  <label>
    <div class="stonetop-checkbox-wrapper">
    <input type="checkbox" name="attr_<%= name.toLowerCase() %>" value="yes">
  </div>
    <span><%= name %></span>
  </label>
  <span class="description">
    (take Disadvantage)
  </span>
</div>