<!DOCTYPE html>

<html>

<head>
  <link rel="stylesheet" href="stonetop.css">
</head>

<style type="text/css">
  body {
    max-width: 834px;
  }
</style>

<body>
  <%- include('stonetop.ejs') %>
</body>

</html>