<div class="stonetop-main">
  <input type="hidden" class="stonetop-tabstoggle" name="attr_sheetTab" value="character" />
  <div class="stonetop-tabs" aria-hidden="true">
    <button type="action" name="act_character" class="character">Character</button>
    <button type="action" name="act_inventory" class="inventory">Inventory</button>
    <button type="action" name="act_followers" class="followers">Followers</button>
  </div>
  <%- include('pages/_character') %>
    <%- include('pages/_inventory') %>
      <%- include('pages/_followers') %>
</div>

<script type="text/worker">
    on('change:hpmax change:damagetaken sheet:opened', () => {
      getAttrs(['hpmax', 'damagetaken'], (attributes) => {
        const hp = parseInt(attributes.hpmax) - parseInt(attributes.damagetaken);
        setAttrs({
          hp: hp || 0,
        });
      });
    });

    const buttonlist = ['character', 'inventory', 'followers'];
    buttonlist.forEach(button => {
        on(`clicked:${button}`, function() {
            setAttrs({
                sheetTab: button
            });
        });
    });
    </script>